
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadPartial")
<body>
<!-- header -->
<div class="header">
    <div class="container">
        @await Component.InvokeAsync("_TopAddressPartial")
        @await Component.InvokeAsync("_TopSocialPartial")
        <div class="clearfix"> </div>
    </div>
</div>

<!-- //header -->
<!--Slider-->
@await Component.InvokeAsync("_NavbarPartial")

<!-- //Modal1 -->
<!--//Slider-->
<!--//Header-->
<!-- about -->
@await Component.InvokeAsync("_AboutPartial")
<!-- //about-bottom -->
<!--sevices-->
@await Component.InvokeAsync("_ServicePartial")
<!--//sevices-->
<!-- team -->
@await Component.InvokeAsync("_TeamPartial")
<!-- //team -->
<!--blog -->
@await  Component.InvokeAsync("_AnnouncementPartial")
<!-- //blog -->
<!-- Modal2 -->
@await Component.InvokeAsync("_AnnouncementSecondaryPartial")
<!-- //Modal2 -->
<!-- Modal3 -->

<!-- //Modal3 -->
<!-- Modal4 -->

<!-- //Modal4 -->
<!--/gallery-->
@await Component.InvokeAsync("_ImagePartial")
<!--//gallery-->
<!--footer-->
<div class="contact-agile" id="contact">
    <div class="container">
        <h3 class="tittle">Bize Ulaşın</h3>
        <p class="heading-btm-w3ls">Görüş ve öneririleriniz bizim için önemlidir...</p>
       @await Component.InvokeAsync("_AddressPartial")
	   @await Component.InvokeAsync("_ContactPartial")
    </div>
</div>
@await Component.InvokeAsync("_MapPartial")

@await Component.InvokeAsync("_BottomSocialPartial")

@await Component.InvokeAsync("_FooterPartial")
</body>
</html>