<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Address/Index/">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Address/Index/">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Grafikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Address/Index/">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">İstatistikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Address/Index/">
                <i class="mdi mdi-earth menu-icon"></i>
                <span class="menu-title">Adres Paneli</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Announcement/Index/">
                <i class="mdi mdi-bullhorn menu-icon"></i>
                <span class="menu-title">Duyurular Paneli</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Contact/Index/">
                <i class="mdi mdi-email-open-outline menu-icon"></i>
                <span class="menu-title">İletişim Paneli</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Image/Index/">
                <i class="mdi mdi-folder-multiple-image menu-icon"></i>
                <span class="menu-title">Resimler Paneli</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Service/Index/">
                <i class="mdi mdi-truck-delivery menu-icon"></i>
                <span class="menu-title">Hizmetler Paneli</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Team/Index/">
                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Ekip Yönetim Paneli</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Address/Index/">
                <i class="mdi mdi-settings menu-icon"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Address/Index/">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Çıkış</span>
            </a>
        </li>
    </ul>
</nav>